@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'styles/components';
@import 'styles/custom';
@import 'styles/mui';

main {
  min-height: 100vh;
}

:root {
  --color-primary-light: #8561c5;
  --color-primary-main: #673ab7;
  --color-primary-dark: #482880;

  --color-secondary-light: #7ab37a;
  --color-secondary-main: #59a059;
  --color-secondary-dark: #3e703e;
}

a:hover {
  color: var(--color-primary-dark)
}

body[data-theme='dark'] {
}

* {
  outline: none;
  border-color: rgba(0, 0, 0, 0.2);
}
